.listtable * {
    box-sizing: border-box;
    margin: 0;
}

.listtable > dl > dt {
    font-weight: 600;
}

/* show as label-value pairs */
@media (max-width: 899px) {
    .listtable > dl {
        margin-bottom: 1em;
        border-bottom: solid black 1pt;
    }

    .listtable > dl > dt {
        padding-bottom: 5px;
    }

    .listtable > dl > dd {
        padding-bottom: 10px;
    }
}

/* show as table */
@media (min-width: 900px) {
    .listtable.listtable--3columns > dl > dt,
    .listtable.listtable--3columns > dl > dd {
        width: 33.3%;
    }

    .listtable > dl {
        display: flex;
        flex-flow: row wrap;
    }

    .listtable > dl > dt {
        display: none;
    }

    .listtable > dl:first-child > dt {
        display: inherit;
        padding: 5px 3px 5px 3px;
        border-bottom: solid black 1pt;
        order: -1;
    }

    .listtable > dl > dd {
        padding: 3px;
    }
}
