.listtable * {
    box-sizing: border-box;
    margin: 0;
}

/* show as table above 700px */
@media screen and (min-width: 700px) {
    .listtable.listtable--3columns > dl > dt,
    .listtable.listtable--3columns > dl > dd {
        width: 33.3%;
    }

    .listtable > dl {
        display: flex;
        flex-flow: row wrap;
    }

    .listtable > dl > dt {
        display: none;
    }

    .listtable > dl:first-child > dt {
        display: inherit;
        order: -1;
    }
}
